
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body{
    background-image: url("https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1067.jpg");
    background-size: cover;
    background-repeat: repeat;
   
}

h1{
   font-family: 'Bungee Spice', cursive;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 50px
}
p{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

#msg-el{
    font-style: italic;
}

section{
    font-weight: bold;
    font-family:monospace;
    text-align: center;
    color: white;
    min-height: 200px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

button{
    width: 250px;
    background-color: #FFA500;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    transition: background 0.5s;
}

button:hover{
    background-color: #FED8B1;
    
}